body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: white;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    margin: auto;
}

#display {
    grid-column: span 5;
    background-color: #555;
    padding: 10px;
    text-align: right;
    font-size: 2rem;
}

button {
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #444;
    border: none;
    color: white;
}

button:hover {
    background-color: #666;
}

#equals {
    grid-column: span 2;
}

#clear {
    grid-column: span 2;
    background-color: #AC3939;
}